@model CoursesIndexViewModel

<h1>Courses</h1>
<div class="row>">
    
        <table class="table table-responsive table-hover">
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            @foreach (var course in Model.Courses)
            {
                <tr>
                    <td>@course.Name</td>
                    <td>
                        <a class="btn btn-outline-info"
                           asp-controller="ShoppingCart"
                           asp-action="Add"
                           asp-route-id="@course.Id">Buy</a>
                    </td>
                </tr>
            }
        </table>
        <a class="btn btn-info" 
                asp-action="Add" 
                asp-controller="Courses"
                >Add a course</a>
    
</div>


